.shoe-details-container {
  display: flex;
  gap: 40px;
  padding: 60px;
  max-width: 1200px;
  margin: auto;
}

.details-left {
  flex: 1;
}

.details-img {
  width: 100%;
  border-radius: 14px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.15);
}

.thumbs {
  display: flex;
  gap: 12px;
  margin-top: 12px;
}

.thumbs img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 0.2s ease;
}

.thumbs img:hover {
  border-color: black;
}

.details-right {
  flex: 1;
}

.details-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}

.details-price {
  font-size: 24px;
  font-weight: 600;
  margin: 5px 0;
  color: #111;
}

.details-rating {
  font-size: 16px;
  margin-bottom: 15px;
}

.details-desc {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.extra-info, .spec-section {
  margin-top: 30px;
}

.extra-info h3,
.spec-section h3 {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 600;
}

.spec-section ul {
  margin: 0;
  padding-left: 20px;
}

.back-btn {
  margin-top: 40px;
  padding: 12px 22px;
  background: #000;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  border: none;
  transition: 0.2s ease-in-out;
}

.back-btn:hover {
  background: #333;
}
