/* Base setup */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background:#d2ab1d;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  transition: background 0.3s ease, box-shadow 0.3s ease;
  z-index: 50;
}

.navbar.scrolled {
  background:#8c7a3a;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
  position: fixed;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-logo {
  font-weight: 700;
  font-size: 1.3rem;
  color: #111;
  text-decoration: none;
  letter-spacing: 0.5px;
  transition: opacity 0.3s ease;
}

.nav-logo:hover {
  opacity: 0.7;
  color:#ffffff ;
}

/* Links */
.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background: linear-gradient(90deg, #000000, #d7c274);
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

.nav-links a.active {
  color: #000;
}

.nav-links a.active::after {
  width: 100%;
}

@media (max-width: 768px) {
  .nav-links {
    gap: 1rem;
  }

  .nav-container {
    padding: 0.75rem 1.5rem;
  }
}

.cart-icon-wrapper {
  position: relative;
  cursor: pointer;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
}

.cart-icon-wrapper:hover {
  transform: scale(1.1);
}

.cart-icon {
  color: var(--text);
  transition: color 0.3s ease;
}

.cart-icon:hover {
  color: #c6a964;
}


.cart-badge {
  position: absolute;
  top: -6px;
  right: -8px;
  background: #c6a964;
  color: #0f0f0f;
  font-size: 0.7rem;
  font-weight: bold;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}

